.containers {
    /* margin: 50px auto;  */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 50%;
    position:relative; 
    left:10%;
    top: 20px;
} 

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}
.label {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    color: #fff;
}

.label-success {
    background-color: #28a745;
}

.label-danger {
    background-color: #dc3545;
}

.label-warning {
    background-color: #ffc107;
}